<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/index.css">
    <title>Hasil Pencarian No KK <%= id %>
    </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container-fluid container">
                <div class="row">
                    <div class="col-8">
                        <a class="navbar-brand" href="/">Sedekah RW 14</a>
                        <small class="navbar-subtitle">Cimanggis Depok</small>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse my-2" id="navbar-collapse">
                    <ul class="navbar-nav me-auto col">
                        <hr>
                        <% if (user) { %>
                            <% if (user.permission === 1) { %>
                                <li class="nav-item p-2 item-link">
                                    <a class="nav-link" href="/pendaftaran-warga">Buat Data
                                        Warga Baru</a>
                                </li>
                            <% } %>
                            <li class="nav-item p-2 item-link">
                                <a class="nav-link" href="/keluar">Keluar</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item p-2 item-link">
                                <a class="nav-link" href="/masuk">Masuk</a>
                            </li>
                        <% } %> 
                    </ul>
                </div>
        </nav>
    </header>

    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            </div>
        </nav>
        <div class="tab-content mt-3" id="nav-tabContent">
            <div class="row">
                <div class="col-2">
                    <a href="/" class="btn btn-primary">Kembali</a>
                </div>
            </div>
            <div class="row mt-2">
                <form>
                    <label for="kk-id">Cari Nomor KK</label>
                    <input id="kk-id" type="text" name="kk-id" placeholder="Contoh 12345678910" class="form-control">
                    <small class="error-msg"></small>
                </form>
            </div>
            <% let number=0; %>
                <% let totalAmount=0; %>
                    <% const currencyFormat=Intl.NumberFormat("IDR", { style: "currency" , currency: "IDR" }); %>
                        <div class="content">
                            <table class="table">
                                <thead>
                                    <th>#</th>
                                    <th>No. Rumah</th>
                                    <th>Nama Warga</th>
                                    <th>Jumlah Sedekah</th>
                                    <th>Sudah Sedekah</th>
                                </thead>
                                <% result.forEach(citizen=> { %>
                                    <% totalAmount +=citizen.jumlah_sedekah %>
                                        <tbody>
                                            <tr class="<%= citizen.sudah_sedekah==true ? " table-success"
                                                : "table-danger " %> ">
                                                <td>
                                                    <%= ++number %>
                                                </td>
                                                <td>
                                                    <%= citizen.id_warga %>
                                                </td>
                                                <td>
                                                    <%= citizen.nama_warga %>
                                                </td>
                                                <td>
                                                    <% if (!citizen.jumlah_sedekah) { %>
                                                        <%= currencyFormat.format("0") %>
                                                            <% } else { currencyFormat.format(citizen.jumlah_sedekah) }
                                                                %>
                                                </td>
                                                <td>
                                                    <%= citizen.sudah_sedekah==true ? "Sudah" : "Belom" %>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <% }) %>
                            </table>
                            <div
                                class="col mb-2 bg-success text-white justify-content-between align-items-center total-amount d-flex">
                                <h5>Total: </h5>
                                <h4><b>
                                        <%= currencyFormat.format(`${totalAmount}`) %>
                                    </b></h4>
                            </div>
                            <h5><b>Indikator:</b></h5>
                            <div class="col mb-5">
                                <div class="d-flex mb-2">
                                    <div style="width: 20px; height: 20px;background-color: #F8D7DA;margin-right: 5px;">
                                    </div>
                                    <small>Belom Sedekah</small>
                                </div>
                                <div class="d-flex">
                                    <div style="width: 20px; height: 20px;background-color: #D1E7DD;margin-right: 5px;">
                                    </div>
                                    <small>Sudah Sedekah</small>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="../js/ejs.min.js"></script>
<script src="../js/cari-kk.js"></script>

</html>